mixin control(data, attributes)
  -
    var options = { type: 'checkbox', };
    var { type, theme, name, checked, disabled } = data ? { ...options, ...data } : options;

  label.control(class=(theme && `control--${theme}`))
    input._input(type=type name=name checked=checked disabled=disabled)&attributes(attributes)

    span._label

      if block
        span._title
          block